* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
  cursor: pointer;
}

img {
  cursor: pointer;
}

/*nav-bar--------------------------------*/

nav img {
  width: 25px;
  margin-left: 20px;
}

nav h1 {
  font-size: 25px;
  font-weight: bolder;
  color: #ff0000;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
